html, body, .theme--light.v-application{
  background: #F7F7F7 !important;
}
.black-anim-text{
  color: rgba(11,11,11,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,#0288D1,#0288D1 50%,rgba(11,11,11,1) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s cubic-bezier(0,0,.23,1);
  word-break: break-word;
}
.white-anim-text{
  color: rgba(255,255,255,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,#03A9F4,#03A9F4 50%,rgba(255,255,255,1) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s cubic-bezier(0,0,.23,1);
  word-break: break-word;
}
.black-anim-text:hover,
.anim-text:hover{
  background-position: 0;
}

.em-container, .container:not(.container--fluid){
  max-width: 1450px !important;
}

.container--fluid{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.v-image__image:hover{
  transform: scale(1.2) rotate(15deg);
  transition: all .5s;
}

.v-application ul, .v-application ol{
  padding-left: 0px !important;
}


.vueToast{
  padding: 15px 25px !important;
  border-radius: 5px !important;
  font-size: 110% !important;
  letter-spacing: 0.25px !important;
}

.cursor-pointer{
  cursor: pointer;
}

.anim-cover-zoom .v-image__image--cover{
  transition: all .5s;
}
.anim-cover-zoom:hover .v-image__image--cover{
  transform: scale(1.2);
}

.category-carousel .hooper-prev,
.category-carousel .hooper-next{
  background-color: #f7f7f7;
  padding: 10px 13px;
  border-radius: 50%;
}
.category-carousel .hooper-prev{
  margin-left: -30px;
}
.category-carousel .hooper-next{
  margin-right: -30px;
}
.category-carousel .hooper-prev svg,
.category-carousel .hooper-next svg{
  width: 35px;
  height: 35px;
}
